[Unit]
Description=Multiple port redirection via socat manager
KillMode=process
Wants=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/socatlord run
ExecStop=/usr/local/bin/socatlord stop
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
